[Unit]
Description=Fedora Sway demo session components
BindsTo=graphical-session.target
After=graphical-session-pre.target
Wants=pipewire.service wireplumber.service fedora-sway-quickshell.service fedora-sway-idle.service fedora-sway-polkit.service fedora-sway-clipboard.service fedora-sway-wallpaper.timer

[Install]
WantedBy=graphical-session.target
